@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root {
    --default-font: "kanit", sans-serif;
    --color-parts: #033B3D;
    --white: #FFFFFF;
    --black: rgb(45, 45, 45);
    --gray: rgb(170, 170, 170);
    --red: rgb(200, 45, 45);
}

* {
    padding: 0px;
    margin: 0px;
}

svg {
    width: 20px;
    height: 20px;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

p, h2, h3, h4 {
    font-family: var(--default-font);
}

.main {
    display: flex;
}

.dashboard {
    background-color: var(--color-parts);
    width: 400px;
    height: auto;
}

.choices {
    display: flex;
    gap: 10px;
}

.rightpart {
    display: flex;
    flex-flow: column;
}

.label {
    display: flex;
    align-items: center;
    background-color: var(--gray);
    color: var(--black);
    font-family: var(--default-font);
    width: 500px;
    height: 20px;
    border-radius: 50px;
    padding: 5px;
}

.search {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.container2 {
    margin-left: auto;
}

.container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: auto;
}

.profileoptions {
    margin-left: 15px;
}

.container3 {
    display: flex;
    margin-top: 30px;
}

.grid {
    margin-left: 15px;
}

.container4 {
    margin-left: 40px;
}

.announcetitle {
    font-size: 25px;
}

.topics {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.trendingtitle {
    font-size: 20px;
}

.name {
    display: flex;
    gap: 5px;
}

.number {
    text-align: center;
    color: var(--white);
    width: 20px;
    background-color: var(--color-parts);
    border-radius: 50px;
}