@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

:root {
    --default-font: "kanit", sans-serif;
    --color-parts: #033B3D;
    --white: #FFFFFF;
    --black: rgb(45, 45, 45);
    --gray: rgb(170, 170, 170);
    --red: rgb(200, 45, 45);
}

* {
    padding: 0px;
    margin: 0px;
}

svg {
    width: 20px;
    height: 20px;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

p, h2, h3, h4 {
    font-family: var(--default-font);
}

.main {
    display: flex;
}

.dashboard {
    background-color: var(--color-parts);
    width: 400px;
    height: auto;
}

.choices {
    display: flex;
    gap: 10px;
}

.rightpart {
    display: flex;
    flex-flow: column;
}

.label {
    background-color: var(--gray);
    color: var(--black);
    font-family: var(--default-font);
    width: 500px;
    height: 20px;
    border-radius: 50px;
}

.container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
